.arrow {
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filterTitle {
    text-align: center;
}

.fiterTitle em {
    font-weight: bold;
}