.title {
    border-block-end: solid 1px var(--purple);
    padding-block-end: 0.5rem;
    padding-block-start: 2.3rem;
}

.amount {
    line-height: 1.5;
    padding-block-start: 2rem;
}

.arrow {
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filterTitle {
    text-align: center;
}
.fiterTitle em {
    font-weight: bold;
}