.button {
    padding: 0.6rem 1rem;
    border: var(--purple) 1px solid;
    border-radius: 20px 0;
    text-align: center;
}

.title {
    border-block-end: solid 1px var(--purple);
    padding-block-end: 0.5rem;
    line-height: normal;
}

.main {
    padding-block-end: 5rem;
}

