.main {
    text-align: center;
    line-height: 1.5;
    padding-block-end: 4rem;
}

.header {
    padding-block-start: clamp(2rem, 10vw, 3rem);
    padding-block-end: clamp(3rem, 10vw, 4rem);
}
.header h1 {
    border-block-start: solid 1px var(--purple);
    padding-block-start: 0.8rem;
    padding-block-end: 1rem;
}


.title {
    padding-block-end: 0.5rem;
    padding-block-start: 2.3rem;
}
.img {
    padding-block-end: 0.8rem;
}

.header .img {
    width: 100%;
    max-width: 28rem;
    height: auto;
    object-fit: contain;
    padding-block-end: 0.8rem;
}
.header p {
    max-width: 28rem;
    margin: auto;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    height: clamp(3rem, 10vw, 3.8rem);
    min-width: 12rem;
    background-color: var(--coral);
    border: solid 1px var(--white);
    color: var(--white);
    border-radius: 20px 0px;
}

.badges {
    background-color: var(--purple);
    color: var(--white);
    padding-block-start: clamp(2rem, 10vw, 3rem);
    padding-block-end: clamp(3rem, 10vw, 4rem);
    overflow: hidden;
}
.badges h2 {
    color: var(--white);
    border-color: var(--white);
    padding-block-end: 0.8rem;
    border-block-end: solid 1px var(--white);
}


@media only screen and (min-width: 512px) {
    .badges p {
        max-width: 28rem;
        margin: auto;
    }
}

.badgesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.8rem;
    padding-block: clamp(0.8rem, 3vw, 1.4rem);
    overflow: hidden;
    padding-inline-start: 0.8rem;
}
.badges .button {
    margin: auto;
    margin-block-start: 1.3rem;
    max-width: 12rem;
}

.navigation {
    padding-block-start: 3rem;
    padding-block-end: 4rem;
}

@media only screen and (min-width: 512px) {
    .navigation .content {
        display: grid;
        grid-template-columns: 2fr 3fr;
        text-align: left;
    }
    .navigation .content .img {
        width: 100%;
        place-self: flex-end;
        padding: 0;
    }
    .navigation .content .text {
        align-self: self-end;
        max-width: 24rem;
    }
    .navigation .content h2 {
        line-height: normal;
        max-width: 18rem;
    }
}

.navigation .text p {
    padding-block-start: 0.8rem;
    border-block-start: solid 1px var(--purple);
    margin-block-start: 0.8rem;
}

.navigation .button {
    border: solid 1px var(--purple);
    width: max-content;
    padding: 0 clamp(1rem, 5vw, 2rem);;
    margin: auto;
}   

.navigation .help {
    margin-block-start: clamp(1.3rem, 6vw, 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.navigation .img {
    width: 50%;
    height: auto;
}