@import "reset.css";

:root {
    --purple: #6E33D5;
    --white: #FBF3ED;
    --coral: #F27361;
    --purple-transparent: #6E33D533;
    --spacing: clamp(0.9rem, 4vw, 1.5rem);
    --font-size--xsmall: clamp(0.8rem, 3vw, 0.9rem);
    --font-size--small: 1rem;
    --font-size--big: clamp(1.5rem, 4vw, 1.75rem);
}

html {
    background-color: var(--white);
    color: var(--purple);
    font-size: var(--font-size--small);
}
a {
    text-decoration: none;
    color: var(--purple);
}

em {
    color: var(--coral);
}

@media (max-width: 820px) {
    .desktop {
        display: none;
    }
}
@media (min-width: 821px) {
    .mobile {
        display: none;
    }
}

.title {
    font-family: var(--font-gt-super);
    color: var(--purple);
    font-size: var(--font-size--big);
    line-height: 1.5;
}
.margin {
    margin-inline: var(--spacing);
}

main {
    padding-block-end: 42px;
    padding-block-start: 50px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: var(--font-lausanne);
    color: var(--purple);
    font-size: var(--font-size--small);
}