@import "reset.css";

:root {
    --purple: #6E33D5;
    --white: #FBF3ED;
    --coral: #F27361;
}

html {
    background-color: var(--white);
    color: var(--purple);
}
a {
    text-decoration: none;
    color: var(--purple);
}

em {
    color: var(--coral);
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }
}
@media (min-width: 769px) {
    .mobile {
        display: none;
    }
}

.title {
    font-family: var(--font-gt-super);
    color: var(--purple);
    font-size: 1.5rem;
    line-height: 1.5;
}
.margin {
    margin-inline: 15px;
}