.container {
    display: grid;
    overflow: hidden;
    border: solid 1px var(--purple);
    margin-block-end: 42px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    margin-block-start: 1rem;
    height: 80vh;
}

@media only screen and (min-width: 576px) {
    .container {
        width: 75vw;
        margin-inline: auto;
    }
}

.imgContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-row: 1;
    grid-column: 1;
    transform: scaleX(-1);
    overflow-x: hidden;
    overflow-y: hidden;
}
.videoImg, .filterImg {
    height: 100vh;
}

.gridElement {
    grid-row: 1;
    grid-column: 1;
    overflow: hidden;
}

.interface {
    z-index: 5;
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 1fr 5vh;
}
@media only screen and (min-width: 576px) {
    .interface {
        width: 72vw;
    }
}

.interfaceBottom{
    align-self: end;
    justify-self: center;
}

.photoTaken {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.8rem;
}

.takePhoto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "empty cameraButton switchCamera";
    gap: 1rem;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 35vw;
    max-width: 10rem;
    height: 3rem;
    background-color: var(--white);
    border: solid 1px var(--purple);
    font-size: var(--font-size--small);
}
.buttonSecondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    height: fit-content;
    padding: 0.4rem 0.8rem;
    color: var(--white);
    background-color: var(--purple);
    border: solid 1px var(--white);
    font-size: var(--font-size--small);
    margin-block-start: 1rem;
}

.cameraButton {
    box-shadow: none;
    background-color: var(--purple);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
    grid-area: cameraButton;
}
.cameraButton::before {
    content: "";
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid 1px var(--white);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.switchCamera {
    grid-area: switchCamera;
}

.ARfilter {
    position: relative;
}

.confirmationHidden {
    opacity: 0;
    bottom: 14vh;
}
.confirmationVisible {
    opacity: 1;
    bottom: 15vh;
}

.confirmation {
    z-index: 10;
    background-color: var(--coral);
    color: var(--white);
    text-align: center;
    padding: 0.5rem 1rem;
    border: var(--white) solid 1px;
    border-radius: 20px 0;
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}



.loader {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}


.ldsEllipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.ldsEllipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--coral);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.ldsEllipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}