.chatbotHeader {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: var(--purple);
    line-height: 1.5;
    border-bottom: solid 1px var(--purple);
}

.characterContainer {
    border-inline-end: solid 1px var(--purple);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.character {
    max-width: 6rem;
    height: 100%;
}

.chatbotHeaderInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.chatbotName {
    font-family: var(--font-gt-super);
    font-size: var(--font-size--big);
    margin-bottom: 0.3rem;
}

.tags {
    display: grid;
    grid-template-columns: 2rem 1fr;
}


@media only screen and (min-width: 512px) {
    .chatbotHeader {
        grid-template-columns: 2fr 3fr;
        grid-template-columns: auto 1fr;
    }
    .characterContainer {
        place-content: flex-end;
        padding-inline: 1.5rem;
    }
}